
.vs/
FlexProTransactionLogParser/bin/
FlexProTransactionLogParser/obj/

FlexProTransactionLogParser/Properties/PublishProfiles/

FlexProTransactionLogParser/Properties/launchSettings.json

*.user
